.line{
    text-decoration: line-through;
}
#title_style{
    color: cornsilk;
    background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center; 
   font-size: 50px;
}
#btn{
	margin-left: 2px;
    margin-top: 10px;
    align-items: center;
    border: 1px solid #333;
    border-style:none;
}
#inp{
    border: 1px solid #333;
    border-style:none;
    margin-top: 10px;
    margin-left:30%;
      align-items: center;
    justify-content: center;
    width: 500px;
   }
#myBtn{
    border: 1px solid #333;
    height: 20px;
    width: 32px;
    border-style:none;
    margin-left:69.7%;
    margin-top: -21px;
    display: block;
}
#ib_style{
    
    margin-right: 280px;
    display: flex;
  align-items: center;
  justify-content: center;
}

#mydiv{ 
   margin-left: -23px;
    
}
#D {
	height: 25px;
    border: 1px solid #333;
     margin:  auto;
    margin-top: 2px;
   border-style: none;
    background-color: gainsboro;
    width: 499px;
display: flex   ;
    display: block;
}


